.playground {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  font-family: monospace;
}

.editor {
  border-right: 1px solid #ddd;
  width: 100%;
}

.preview iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: #f5f5f5;
}
