<div>
  <div class="playground">
    <div class="editor">
      <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="editorCode"
        (ngModelChange)="updatePreview()"
        style="height: 100%"
      ></ngx-monaco-editor>
    </div>

    <div class="preview">
      <iframe *ngIf="pdfUrl" [src]="pdfUrl"></iframe>
    </div>
  </div>
  <div style="display: flex; justify-content: space-between; margin-top: 10px">
    <button
      class="p-2"
      routerLink="/master-label"
      style="background: blue; border: none; border-radius: 5px; color: white"
    >
      ← Kembali
    </button>

    <button
      (click)="saveCode()"
      style="background: green; border: none; border-radius: 5px; color: white"
    >
      Simpan
    </button>
  </div>
</div>
