.parent {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* height: 100vh; */
}

/* .toolbar {
  display: flex;
  flex-direction: column;

  gap: 8px;
  padding: 10px;
  background: #f8fafc;
  border-bottom: 1px solid #e5e7eb;
} */
.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
  background: #f8fafc;
}

.toolbar > * {
  flex: 0 0 calc(50% - 4px);
}

.icon-top-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.canvas-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 10px;
  background: #eaeaea;
}

canvas {
  border: 1px solid #e5e7eb;
  background: white;
}
