.parent {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.toolbar {
  display: flex;
  flex-direction: column;

  gap: 8px;
  padding: 10px;
  background: #f8fafc;
  border-bottom: 1px solid #e5e7eb;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #eaeaea;
}

canvas {
  border: 1px solid #e5e7eb;
}
