<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo-flexofast.jpg" width="150" alt="Logo Flexofast" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/label" routerLinkActive="active"
            >Label</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active"
            >Editor</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/master-label"
            routerLinkActive="active"
            >Master Label</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active"
            >Orders</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <p-overlay-badge severity="success">
          <p-avatar
            icon="pi pi-user"
            size="normal"
            shape="circle"
            (click)="menu.toggle($event)"
            [style]="{ cursor: 'pointer' }"
          ></p-avatar>
        </p-overlay-badge>
        <p-menu #menu [popup]="true" [model]="userMenuItems"></p-menu>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
