.navbar-nav .nav-link.active {
  background-color: #e65c00;
  color: white !important;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.navbar-nav .nav-link {
  color: #000;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.navbar-nav .nav-link:hover {
  background-color: #e65c00;
  color: white !important;
  border-radius: 5px;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 0.5rem;
}
