<div style="padding: 20px; width: 100%">
  <!-- <div style="text-align: center; margin-bottom: 20px">
    <img src="logo-flexofast.jpg" width="250" />
  </div> -->
  <div style="display: flex; justify-content: space-between; height: 50px">
    <h3>Daftar Label Pengiriman</h3>
  </div>

  <!-- TABLE -->
  <table class="label-table">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama Label</th>
        <th>Deskripsi</th>
        <th>Aksi</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let label of labels; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ label.name }}</td>
        <td>{{ label.description }}</td>
        <td>
          <button
            class="edit-btn bg-primary text-white"
            style="border: none; border-radius: 5px"
            (click)="edit(label)"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
