<div class="p-2">
  <div style="display: flex; gap: 10px; justify-content: space-between">
    <p-multiselect
      display="chip"
      [options]="cols"
      [(ngModel)]="selectedColumns"
      optionLabel="header"
      selectedItemsLabel="{0} kolom dipilih"
      [style]="{ 'min-width': '200px' }"
      placeholder="Pilih Kolom"
      (onChange)="onColumnToggle()"
    ></p-multiselect>

    <!-- Export Buttons -->
    <!-- <button
      pButton
      label="Export CSV"
      icon="pi pi-file"
      (click)="exportCSV()"
      class="p-button-sm"
      severity="primary"
    ></button> -->

    <!-- <button
      pButton
      label="Export Excel"
      icon="pi pi-file-excel"
      (click)="exportExcel()"
      class="p-button-sm p-button-primary"
    ></button> -->

    <!-- <p-splitButton
      label="Export"
      icon="pi pi-download"
      [model]="exportItems"
      size="small"
    ></p-splitButton> -->

    <button
      pButton
      icon="pi pi-file-excel"
      label="Export Data"
      class="p-button"
      (click)="openExportModal()"
      size="small"
    ></button>
  </div>
  <div class="card p-2 mt-2">
    <p-table
      #dt
      [lazy]="true"
      exportFilename="{{ filename }}"
      (onLazyLoad)="loadOrders($event)"
      [columns]="selectedColumns"
      [value]="orders"
      [loading]="loading"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="15"
      [rowsPerPageOptions]="[15, 50, 100, 500, 1000]"
      [totalRecords]="totalRecords"
      [tableStyle]="{ 'min-width': '50rem' }"
      [scrollable]="true"
      scrollHeight="500px"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Menampilkan {first} hingga {last} dari {totalRecords} data"
    >
      <ng-template #header let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-product let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.type">
              <span *ngSwitchCase="'date'">
                {{ product[col.field] | date : "dd/MM/yyyy, HH:mm" }}
              </span>

              <span *ngSwitchDefault>
                {{ product[col.field] || "-" }}
              </span>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <span> Data Pesanan</span>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Export Data"
  [(visible)]="showExportModal"
  [modal]="true"
  [style]="{ width: '900px' }"
  [draggable]="false"
>
  <span class="font-medium">Template</span>

  <div
    class="flex align-items-center gap-2 mb-3"
    style="display: flex; align-items: center"
  >
    <p-select
      [options]="templates"
      optionLabel="name"
      optionValue="id"
      [(ngModel)]="selectedTemplateId"
      placeholder="(Tanpa Template)"
      showClear="true"
      class="w-20rem"
      (onChange)="onTemplateChange($event)"
    ></p-select>

    <button
      pButton
      icon="pi pi-plus"
      label=""
      class="p-button"
      (click)="createTemplate()"
    ></button>

    <button
      pButton
      label=""
      icon="pi pi-save"
      class="p-button-secondary"
      (click)="saveTemplate()"
      [disabled]="!selectedTemplateId"
    ></button>

    <button
      pButton
      label=""
      icon="pi pi-trash"
      class="p-button-danger p-button-outlined"
      (click)="deleteTemplate()"
      [disabled]="!selectedTemplateId"
    ></button>

    <div
      class="flex align-items-center gap-3 ml-auto"
      style="display: flex; margin-left: auto"
    >
      <span class="font-medium">Format Export</span>

      <p-select
        [options]="exportFormatOptions"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="exportFormat"
        class="w-14rem"
      ></p-select>
    </div>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-pickList
        [source]="allColumns"
        [target]="exportColumns"
        sourceHeader="All Columns"
        targetHeader="Selected Columns"
        dragdrop="true"
        [responsive]="true"
        filterBy="header"
        sourceFilterPlaceholder="Cari kolom"
        targetFilterPlaceholder="Cari kolom"
        dataKey="field"
        breakpoint="100px"
        [showSourceControls]="false"
        [showTargetControls]="false"
        (onMoveToTarget)="syncAfterMove()"
        (onMoveToSource)="syncAfterMove()"
        (onMoveAllToTarget)="syncAfterMove()"
        (onMoveAllToSource)="syncAfterMove()"
      >
        <ng-template let-col pTemplate="item">
          <div class="flex align-items-center" style="display: flex; gap: 5px">
            <i class="pi pi-bars mr-2"></i>
            <span>{{ col.header }}</span>
          </div>
        </ng-template>
      </p-pickList>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="flex justify-content-end gap-2" style="display: flex">
    <button
      pButton
      label="Batal"
      class="p-button-text"
      (click)="showExportModal = false"
    ></button>
    <button
      pButton
      label="Export"
      icon="pi pi-download"
      (click)="confirmExport()"
    ></button>
    <button
      pButton
      label="Export All Data"
      icon="pi pi-download"
      (click)="confirmExportAll()"
    ></button>
  </div>
</p-dialog>
<p-confirmDialog></p-confirmDialog>
